# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ogtest

# Precompiled Headers
*.gch
*.pch
src/_default_proj_cfg.h

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/spinclude
spinclude
.gdb_history
tarjan-util
